.home-workspaces{
    padding: 0 2rem;
    > .heading{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        & h2{
            font-size: var(--fs-3);
            font-weight: 500;
        }
    }
    & .container{
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        & .workspace-card{
            width: 19rem;
            min-height: 100%;
            cursor: pointer;
            background-color: var(--color-bg-pimary);
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
            & .img-container{
                width: 100%;
                aspect-ratio: 4/ 3;
                overflow: hidden;
                border-radius: 10px;
                & img{
                    // transform: scale(1.25);
                    transition: all .3s ease-in-out;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            
            }
            
            & .info{
                padding: .25rem;
                width: 100%;
                
                & .title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    & h3{
                        font-size: var(--fs-5);
                        font-weight: 500;
                    }
                    & svg{
                        height: 20px;
                        width: 20px ;
                    }
                }
            }

            & .tags{
                display: flex;
                flex-wrap: wrap;

                gap: 0.5rem;
                margin-top: .5rem;
                padding: .5rem;
                > span{
                    font-size: var(--fs-8);
                    background-color: rgb(223, 223, 223);
                    padding: .1rem .5rem;
                    border-radius: 4px;
                }
            }
        }

        & .workspace-card:hover{
                & img{
                    transform: scale(1.25);
                }
        }
    }
    > p{
        text-align: center;
        color: var(--color-text-lt);
    }

}