@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 8px;

  --fs-0: 4rem; /* 54px */
  --fs-1: 3rem; /* 48px */
  --fs-2: 2.5rem; /* 40px */
  --fs-3: 2rem; /* 32px */
  --fs-4: 1.5rem; /* 24px */
  --fs-5: 1.25rem; /* 20px*/
  --fs-6: 1.125rem; /* 18px*/
  --fs-7: 1rem; /* 16px*/
  --fs-8: 0.9rem; /* 14px*/

  // colors
  --color-theme-dk : #004B5B;
  --color-theme : #2563EB;
  --color-theme-lt : #006075;
  --color-theme-ltr : #0088a7;

  --color-text-primary: #222222;
  --color-text-secondary: #fff;
  --color-text-lt: #3c3c3c;
  --color-text-theme: var(--color-theme);

  --color-bg-primary: #fff;
  --color-bg-secondary: #000;
  --color-bg-lt: rgba(199, 199, 199, 0.642);
  --color-bg-theme: var(--color-theme);

  --color-border-primary: #000;
  --color-border-secondary: #fff;

  --color-link-primary: #2563EB;
  --color-link-secondary: #006075;
  --color-link-lt: #3c3c3c;
  --color-link-theme: var(--color-theme);



}

@media (min-width: 769px) and (max-width: 1278px) {
  :root {
    --fs-0: 3rem;
    --fs-1: 2.8rem;
    --fs-2: 2.3rem;
    --fs-3: 1.5rem;
    --fs-4: 1.25rem;
    --fs-5: 1rem;
    --fs-6: 1rem;
    --fs-7: 0.9rem;
  }
}

@media (max-width: 768px) {
  :root {
    --fs-0: 3rem;
    --fs-1: 2.8rem;
    --fs-2: 2.3rem;
    --fs-3: 1.8rem;
    --fs-4: 1.25rem;
    --fs-5: 1rem;
    --fs-6: 1rem;
    --fs-7: 0.9rem;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  height: 100dvh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body {
  background-color: var(--color-bg-primary);
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body::-webkit-scrollbar {
  display: none;
}
header{
  width: 100%;
  position: sticky;
}

main{
max-width: 1440px;
width: 100%;
border-radius: var(--border-radius);
display: flex;
flex-direction: column;
gap: 3rem;
}
footer{
  margin-top: auto;
  width: 100%;
}


.custom-button-1 {
  font-size: var(--fs-8);
  padding: .75rem 1rem;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--color-bg-theme);
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.custom-button-2 {
  font-size: var(--fs-8);
  padding: .5rem 1rem;
  border: 1.5px solid white;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  color: white;
}
.custom-button-3 {
  font-size: var(--fs-8);
  padding: .75rem 1rem;
  border: 1.5px solid var(--color-theme);
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-theme);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .2rem;
}

input, textarea {
  background-color: var(--color-bg-lt);
  border: none;
  margin: 8px 0;
  padding: 8px 15px;
  font-size: var(--fs-7);
  border-radius: 4px;
  width: 100%;
  max-width: 25rem;
  outline: none;

}
input:focus {
  border: 1px solid var(--color-border-primary);
}